* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    padding: 10px 0;
    text-align: right;
}

.home {
    display: inline-block;
    background-color: #2980b9;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.home a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* Title Styles */
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 36px;
    color: #333;
}

/* Form Styles */
form {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    background-image: url('search.png');
    background-size:40px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    width: 95%;
    font-size: 16px;
    padding: 17px 20px 12px 54px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 5px;
    outline: none;
}

#positionDropdown {
    width: 95%;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 5px;
    outline: none;
    text-align: left;
}

/* Search and Clear Buttons */
input[type="submit"], button[type="reset"] {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

button[type="reset"], input[type="submit"] {
    background-color: #e74c3c;
    margin-left: 10px;
}

input[type="submit"]:hover, button[type="reset"]:hover {
    background-color: #2980b9;
}

/* Table Container Styles */
#tablecontainer {
    height: 600px;
    overflow-y: scroll;
}

/* Table Styles */
#myTable {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#myTable th, #myTable td {
    text-align: center;
    padding: 15px;
}

#myTable th {
    background-color: #f1f1f1;
    font-weight: bold;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr:hover {
    background-color: #f1f1f1;
}

/* Resume Link Styles */
.resume-link {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

.resume-link:hover {
    text-decoration: underline;
}

.home:hover {
    background-color: #c0392b;
}

.position-chip {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border-radius: 20px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.position-chip:hover {
    background-color: #2980b9;
}

/* Sticky Header Styles */
#myTable thead {
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
    z-index: 1;
}
